
<div class="top-bar">
  <div class="logo">
    <%= image_tag 'sample.png', :size => '100x55' %>
  </div>
</div>
<div class="main-area">
  <div class="main-left-box">
    <div class="introduction">
      <div class="main-hedind-L1">
        クリーンアップで家を綺麗に保つことをお手伝いします
      </div>
    </div>
    <div class="how-to-use">
      <div class="main-hedind-L2">
        使い方
      </div>
      <div class="main-text-L2">
        簡単な動画を埋め込みながら説明文を加える予定
      </div>
    </div>

  </div>

  <div class="main-right-box">
    <div class="login">
      <h3>新規登録</h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      <div class="sign-field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="sign-field">
        <%= f.label :ユーザーネーム %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>
      <div class="sign-field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="sign-field">
        <%= f.label :パスワード確認用 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="actions">
        <%= f.submit "登録" %>
      </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
